{% extends "base.html" %}

{% block title %}
App name
{% endblock title %}

{% block content %}

{% if current_user.is_authenticated %}
<p>Hello, {{ current_user.username }}</p>
{% endif %}

<form class="product_insert" method="post" action="/product_insert">
    <!-- <h2 class="mensaje">{{ mensaje }}</h2> -->
    <label for="product_name">Product name: *</label>
    <input autocomplete="off" type="text" id="product_name" name="product_name"><br><br>
    <label for="brand_name">Brand name: </label>
    <input autocomplete="off" type="text" id="brand_name" name="brand_name"><br><br>
    <label for="product_url">Product link: *</label>
    <input autocomplete="off" type="text" id="product_name" name="product_name" value="https://www.google.com/"><br><br>
    <label for="product_ingredients">Ingredients list: *</label>
    <input autocomplete="off" type="text" id="product_ingredients" name="product_ingredients"><br><br>
    <label for="product_energy">Energy per 100g in kJ: *</label>
    <input autocomplete="off" type="text" id="product_energy" name="product_energy"><br><br>
    <label for="product_protein">Protein per 100g: *</label>
    <input autocomplete="off" type="text" id="product_protein" name="product_protein"><br><br>
    <label for="product_fat">Fat per 100g: *</label>
    <input autocomplete="off" type="text" id="product_fat" name="product_fat"><br><br>
    <label for="product_sat_fat">Saturated fat per 100g:</label>
    <input autocomplete="off" type="text" id="product_sat_fat" name="product_sat_fat"><br><br>
    <label for="product_carbs">Carbohydrates per 100g: *</label>
    <input autocomplete="off" type="text" id="product_carbs" name="product_carbs"><br><br>
    <label for="product_sugars">Sugars per 100g:</label>
    <input autocomplete="off" type="text" id="product_sugars" name="product_sugars"><br><br>
    <label for="product_fiber">Fiber per 100g:</label>
    <input autocomplete="off" type="text" id="product_fiber" name="product_fiber"><br><br>
    <label for="product_sodium">Sodium per 100g:</label>
    <input autocomplete="off" type="text" id="product_sodium" name="product_sodium"><br><br>
    <label for="product_c_vitamin">C Vitamin per 100g:</label>
    <input autocomplete="off" type="text" id="product_c_vitamin" name="product_c_vitamin"><br><br>
    <input type="submit" value="SAVE THIS NEW PRODUCT">
</form>
<br><br><br><br>



<h2>Modify product</h2>
<table>
    <tr>
        <th>Product name</th>
        <th>Brand name</th>
        <th>Modify</th>
        <th>Delete</th>
    </tr>
    {% if id_edit %}
    <tr class="edit_row">{% block edit %}{% endblock %}</tr>
    {% endif %}
    {% for product in products %}
    <tr>
        <td><a href='{{ product["url"] }}'>{{ product["name"] }}</a></td>
        <td>{{ product["brand_name"] }}</td>
        <td>
            <form action="/edit" method="post">
                <input name="edit" type="hidden" value="{{ product['id'] }}">
                <button class="icons" type="submit">✏️</button>
            </form>
        </td>
        <td>
            <form action="/delete" method="post">
                <input name="delete" type="hidden" value="{{ product['id'] }}">
                <button class="icons" type="submit">❌</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>





<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
    {% for product in products %}
    <div class="bg-white rounded-xl shadow-lg p-6 hover:shadow-xl transition-shadow duration-300">
        <!-- Product Name -->
        <h3 class="text-2xl font-extrabold text-gray-900 tracking-tight mb-2">
            {{ product.name.upper() }}
        </h3>

        <!-- Serving Size Header -->
        <hr class="bg-gray-900 h-px mb-2">
        <div class="flex flex-row justify-between text-base font-medium text-gray-700">
            <p>Serving size</p>
            <p>100g</p>
        </div>

        <!-- Thick Divider for Nutritional Section -->
        <hr class="bg-gray-900 h-3 my-4">

        <!-- Nutritional Information - Amount per serving -->
        <p class="text-xs font-medium text-gray-500 mb-2">Amount per serving (per 100g)</p>

        <!-- ENERGY (kj and kcal) -->
        <div class="grid grid-cols-2 items-baseline border-b border-gray-200 py-1">
            <p class="text-lg font-semibold text-gray-700">Energy</p>
            <p class="text-xl font-bold text-right text-gray-700">{{ product.energy }} kj</p>
            <!-- Kcal is placed on the next line in the second column -->
            <p class="col-span-2 text-xl font-bold text-right text-gray-700">{{ (product.energy * 0.239006) | round(0) |
                int }} kcal</p>
        </div>

        <!-- MACROS and MICROS -->
        {% if product.fat is not none %}
        <div class="flex justify-between border-b border-gray-200 py-1">
            <p class="text-base font-normal text-gray-700 ml-2">Fat</p>
            <p class="text-base font-semibold text-right text-gray-700">{{ product.fat | round(1) }} g</p>
        </div>
        {% endif %}

        {% if product.sat_fat is not none %}
        <div class="flex justify-between border-b border-gray-200 py-1 pl-4">
            <p class="text-sm font-light text-gray-600">— Saturated Fat</p>
            <p class="text-sm font-normal text-right text-gray-600">{{ product.sat_fat | round(1) }} g</p>
        </div>
        {% endif %}

        {% if product.carbs is not none %}
        <div class="flex justify-between border-b border-gray-200 py-1">
            <p class="text-base font-normal text-gray-700 ml-2">Carbohydrates</p>
            <p class="text-base font-semibold text-right text-gray-700">{{ product.carbs | round(1) }} g</p>
        </div>
        {% endif %}

        {% if product.sugars is not none %}
        <div class="flex justify-between border-b border-gray-200 py-1 pl-4">
            <p class="text-sm font-light text-gray-600">— Sugars</p>
            <p class="text-sm font-normal text-right text-gray-600">{{ product.sugars | round(1) }} g</p>
        </div>
        {% endif %}

        {% if product.fiber is not none %}
        <div class="flex justify-between border-b border-gray-200 py-1">
            <p class="text-base font-normal text-gray-700 ml-2">Fiber</p>
            <p class="text-base font-semibold text-right text-gray-700">{{ product.fiber | round(1) }} g</p>
        </div>
        {% endif %}

        {% if product.protein is not none %}
        <div class="flex justify-between border-b border-gray-200 py-1">
            <p class="text-base font-normal text-gray-700 ml-2">Protein</p>
            <p class="text-base font-semibold text-right text-gray-700">{{ product.protein | round(1) }} g</p>
        </div>
        {% endif %}

        {% if product.sodium is not none %}
        <div class="flex justify-between border-b border-gray-200 py-1">
            <p class="text-base font-normal text-gray-700 ml-2">Sodium</p>
            <p class="text-base font-semibold text-right text-gray-700">{{ product.sodium | round(0) | int }} mg</p>
        </div>
        {% endif %}

        {% if product.c_vitamin is not none %}
        <div class="flex justify-between py-1">
            <p class="text-base font-normal text-gray-700 ml-2">Vitamin C</p>
            <p class="text-base font-semibold text-right text-gray-700">{{ product.c_vitamin | round(0) | int }} mg</p>
        </div>
        {% endif %}

        <!-- Footer Divider -->
        <hr class="bg-gray-900 h-px mt-4 mb-2">

        <!-- Nutritionally relevant details -->
        <div class="text-sm text-gray-600 space-y-1">
            <p>Brand: <span class="font-bold">{{ product.brand_name }}</span></p>

            {% if product.nutr_score_fr %}
            <p>Nutri-Score: {{ product.nutr_score_fr }} <span
                    class="bg-{{ product.nutri_color }}-600 font-bold text-white rounded-lg p-1 text-center">{{
                    product.nutri_letter }} </span></p>
            {% endif %}

            {% if product.price and product.currency_code %}
            <p>Latest Price: <span class="font-semibold">{{ product.currency_code }} {{ product.price | round(2)
                    }}</span> ({{ product.price_date.year }}-{{ product.price_date.month }}-{{ product.price_date.day
                }})</p>
            {% endif %}

            {% if product.store_name %}
            <p>Last Seen At: <span class="font-semibold text-gray-800">{{ product.store_name }}</span></p>
            {% endif %}

            {% if product.ingredients_text %}
            <details class="pt-1">
                <summary class="cursor-pointer font-medium text-xs">Ingredients</summary>
                <p class="text-xs mt-1 italic max-h-16 overflow-y-auto">{{ product.ingredients_text }}</p>
            </details>
            {% endif %}
        </div>
    </div>

    {% endfor %}
</div>

{% endblock content %}