<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <H1>THIS IS NOT A WEIGHT-LOSS APP</H1>
    <br>
    <H2>connect update</H2>
    <br>
    <H2>Some results of a test query:</H2>
    <p>Product: {{ results[0][1] }}, Brand: {{ results[0][2] }}</p>
    <p>Product: {{ results[1][1] }}, Brand: {{ results[1][2] }}</p>
    <p>Product: {{ results[2][1] }}, Brand: {{ results[2][2] }}</p>
</body>

</html>