<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <H1>THIS IS NOT A WEIGHT-LOSS APP</H1>
    <br>
    <H2>Query update</H2>
    <br>
    <H2>Some products ordered by efficiency score:</H2>
    <table>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Grams</th>
            <th>Price per kg</th>
            <th>Protein</th>
            <th>Fat</th>
            <th>Efficiency Score</th>
        </tr>
        {% for row in results %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}€</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
        </tr>
        {% endfor%}

    </table>
</body>

</html>