{% extends "base.html" %}

{% block title %}
App name
{% endblock title %}

{% block content %}

{% if current_user.is_authenticated %}
<p>Hello, {{ current_user.username }}</p>
{% endif %}

<div class="space-between">
    {% block product_insert %}
    <form class="width-50" method="post" action="/inserts">
        <label for="product_name">Product name: *</label>
        <input autocomplete="off" type="text" id="product_name" name="product_name"><br><br>
        <label for="product_url">Product link: *</label>
        <input autocomplete="off" type="text" id="product_url" name="product_url" placeholder="https://"><br><br>


        <label for="old_brand_name">Search for a registered Brand: *</label>
        <input type="text" list="old_brand_name" name="old_brand_name" placeholder="Select brand"><br><br>
        <datalist id="old_brand_name">
            {% for brand in brands %}
            <option value="{{ brand['name'] }}">{{ brand["website"] }}</option>
            {% endfor %}
        </datalist>


        <h2 class="green">If the brand doesn't appear yet in the list, please register it now:</h2>
        <label for="new_brand_name">Brand name: *</label>
        <input autocomplete="off" type="text" id="new_brand_name" name="new_brand_name"><br><br>
        <label for="brand_website">Brand website: *</label>
        <input autocomplete="off" type="text" id="brand_website" name="brand_website"><br><br>
        <label for="product_ingredients">Ingredients list: *</label>
        <input autocomplete="off" type="text" id="product_ingredients" name="product_ingredients"><br><br>
        <label for="product_energy">Energy per 100g in kJ: *</label>
        <input autocomplete="off" type="text" id="product_energy" name="product_energy"><br><br>
        <label for="product_protein">Protein per 100g: *</label>
        <input autocomplete="off" type="text" id="product_protein" name="product_protein"><br><br>
        <label for="product_fat">Fat per 100g: *</label>
        <input autocomplete="off" type="text" id="product_fat" name="product_fat"><br><br>
        <label for="product_sat_fat">Saturated fat per 100g:</label>
        <input autocomplete="off" type="text" id="product_sat_fat" name="product_sat_fat"><br><br>
        <label for="product_carbs">Carbohydrates per 100g: *</label>
        <input autocomplete="off" type="text" id="product_carbs" name="product_carbs"><br><br>
        <label for="product_sugars">Sugars per 100g:</label>
        <input autocomplete="off" type="text" id="product_sugars" name="product_sugars"><br><br>
        <label for="product_fiber">Fiber per 100g:</label>
        <input autocomplete="off" type="text" id="product_fiber" name="product_fiber"><br><br>
        <label for="product_sodium">Sodium per 100g:</label>
        <input autocomplete="off" type="text" id="product_sodium" name="product_sodium"><br><br>
        <label for="product_c_vitamin">C Vitamin per 100g:</label>
        <input autocomplete="off" type="text" id="product_c_vitamin" name="product_c_vitamin"><br><br>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="submit" value="SAVE THIS NEW PRODUCT"
            class="bg-brand-orange hover:bg-orange-600 text-white px-4 py-2 rounded-md transition font-medium text-sm lg:text-base">
    </form>
    {% endblock product_insert %}

    {% block price_insert %}
    <form class="width-50" method="post" action="/price_insert">
        <label for="product_id">Search for a Product: *</label>
        <input list="user_saved_product_ids" autocomplete="off" id="product_id" name="product_id"><br><br>
        <datalist id="user_saved_product_ids">
            <option value="user_last_saved_product_id">Last saved</option>
            <option value="user_other_saved_product_id">Other saved</option>
            <option value="user_other_saved_product_id">Other saved</option>
            <option value="user_other_saved_product_id">Other saved</option>
        </datalist>
        <!-- Message if product not found -->
        <label for="price">Price: *</label>
        <input autocomplete="off" type="number" id="price" name="price">
        <label for="currency_id">Currency: *</label>
        <input list="currency" autocomplete="off" id="currency_id" name="currency_id"><br><br>
        <datalist id="currency">
            <option value="USD" selected>US Dollar</option>
            <option value="EUR">Euros</option>
            <option value="BRL">Brazilian Real</option>
        </datalist>
        <!-- SELECTOR Weight OR Quantity -->
        <div class="flex">
            <label for="weight_or_quantity">Net weight OR units per package: *</label>
            <input type="number" id="weight_or_quantity" name="weight_or_quantity" step="1" min="0">
            <label for="grams_or_units" class="space-between"></label>
            <select id="grams_or_units" name="grams_or_units">
                <option value="grams">Grams</option>
                <option value="units">Units</option>
            </select>
        </div>
        <br>
        <label for="store_id">Search for a registered Store: *</label>
        <input list="store_ids" autocomplete="off" id="store_id" name="store_id"><br><br>
        <datalist id="store_ids">
            <option value="Mercadona">Address, Country</option>
            <option value="Online supermarket">www.onlinesupermarket.com</option>
            <option value="Mercadona">Address, Country</option>
            <option value="Online supermarket">www.onlinesupermarket.com</option>
        </datalist>
        <h2 class="green">If the store doesn't appear yet in the list, please register it now:</h2>
        <label for="store_website">Online store Website: </label>
        <input autocomplete="off" type="text" id="store_website" name="store_website"><br><br>
        <h2 class="green">OR</h2>
        <label for="store_address">Physical store Address: </label>
        <input autocomplete="off" type="text" id="store_address" name="store_address"><br><br>
        <label for="store_country">Physical store country: </label>
        <input autocomplete="off" type="text" id="store_country" name="store_country"><br><br>
        <br><br>
        <label for="comment">Comment:</label>
        <textarea rows="6" id="comment" name="comment" maxlength="999" class="width-100"></textarea><br><br>
        <input type="submit" value="SAVE THIS PRICE"
            class="bg-brand-orange hover:bg-orange-600 text-white px-4 py-2 rounded-md transition font-medium text-sm lg:text-base">
    </form>
    {% endblock price_insert %}
</div>

<br>
<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
    {% for product in products %}
    <div class="bg-white rounded-xl shadow-lg p-6 hover:shadow-xl transition-shadow duration-300">
        <!-- Product Name -->
        <h3 class="text-2xl font-extrabold text-gray-900 tracking-tight mb-2">
            <a href='{{ product["url"] }}'>{{ product["name"] }}
        </h3>
        <!-- Nutritionally relevant details -->
        <div class="text-sm text-gray-600 space-y-1">
            <div class="space-between">
                <div class="width-100">Brand: <span class="font-bold"><a href='{{ product["website"] }}'>{{
                            product["brand_name"]
                            }}</a></span></div>
                <form action="/edit" method="post">
                    <input name="edit" type="hidden" value="{{ product['id'] }}">
                    <button class="icons" type="submit">✏️</button>
                </form>
            </div>

            {% if product.price and product.currency_code %}
            <div class="space-between">
                <div>
                    Latest Price: <a href='{{ product["store_name"] }}'><span class="font-semibold">{{
                            product.currency_code
                            }} {{ product["price_per_kg"] }}</span></a> ({{
                    product.price_date.year }}-{{ product.price_date.month }}-{{ product.price_date.day
                    }})
                </div>
                <form action="/delete" method="post">
                    <input name="delete" type="hidden" value="{{ product['id'] }}">
                    <button class="icons" type="submit">❌</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>

    {% endfor %}
</div>

{% endblock content %}